.book {
  margin-top: 15px;
  display: block;
  float: left;
}

img.thumbnail {
  float: left;
  margin: 10px;
  height: 100px;
  width: 65px;
}

.title {
  margin-top: 10px;
}

img.delete {
  height: 21px;
  margin-left: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-bottom: solid 1px white;
  padding: 1px;
}

img.delete:hover {
  cursor: pointer;
  border-bottom: solid 1px;
}

.title {
  display: inline-block;
}

.author {
  display: block;
}
