.book {
  margin-top: 15px;
  width: 100%;
  float: left;
}

img.thumbnail {
  float: left;
  margin: 10px;
  height: 100px;
  width: 65px;
}

.title {
  margin-top: 10px;
}

img.delete {
  height: 21px;
  margin-left: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  border-bottom: solid 1px white;
  padding: 1px;
}

img.delete:hover {
  cursor: pointer;
  border-bottom: solid 1px;
}

button {
  margin-left: 10px;
  border-radius: 3px;
  font-size: 10px;
}
.book-events {
  display: inline-block;
}

.title {
  display: inline-block;
}

.author {
  display: block;
}
